:root {
    --normal-button: #403432;
    --hover-button: #776763;
    --disable--button: #C1B4B1;
    --cart-button: #5B3A32;
    --background:  #F6F3F3;
    --text-color: #343030;
    --border-color: #E1E1E1;
}